<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
     ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04AA6D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #777d7a;
}
li img{
align:left;margin:0px 0px;
  margin-right:1px;
  width: 50px;
  height: 50px;
}
a:hover{
   background-color:#777d7a;
}
.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>
<ul>
  <li><img  src="https://i.ibb.co/C5CgQyk/shopeevibe-logo.jpg"/></li>
  <li><a href="home-page">Home</a></li>
  <!--<li><a href="home">Login</a></li>-->
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>
hello world
</body>
</html>